@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  padding: 0;
  margin: 0;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

@layer base {
  :root {
    /* Default Theme */
    --background: 210 27% 96%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --nav-hover: 136 0% 68%;
    --nav-hover-foreground: 222.2 47.4% 11.2%;

    --nav: 0 0% 0%;
    --nav-active-foreground: 0 0% 100%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 220 7% 18%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  /* Green Theme */
  .theme-green {
    --primary: 120 100% 25%;
    /* Green */
    --primary-foreground: 120 100% 98%;

    --secondary: 120 40% 85%;
    --secondary-foreground: 120 100% 25%;

    --accent: 120 40% 85%;
    --accent-foreground: 120 100% 25%;

    --muted: 120 40% 90%;
    --muted-foreground: 120 30% 40%;

    --destructive: 0 84.2% 60.2%;
    /* Red */
    --destructive-foreground: 120 100% 98%;
  }

  /* Red Theme */
  .theme-red {
    --primary: 0 84.2% 60.2%;
    /* Red */
    --primary-foreground: 0 100% 98%;

    --secondary: 0 40% 85%;
    --secondary-foreground: 0 84.2% 60.2%;

    --accent: 0 40% 85%;
    --accent-foreground: 0 84.2% 60.2%;

    --muted: 0 40% 90%;
    --muted-foreground: 0 30% 40%;

    --destructive: 60 84.2% 60.2%;
    /* Green */
    --destructive-foreground: 0 100% 98%;
  }

  /* Blue Theme */
  .theme-blue {
    --primary: 210 84.2% 60.2%;
    /* Blue */
    --primary-foreground: 210 100% 98%;

    --secondary: 210 40% 85%;
    --secondary-foreground: 210 84.2% 60.2%;

    --accent: 210 40% 85%;
    --accent-foreground: 210 84.2% 60.2%;

    --muted: 210 40% 90%;
    --muted-foreground: 210 30% 40%;

    --destructive: 0 84.2% 60.2%;
    /* Red */
    --destructive-foreground: 210 100% 98%;
  }

  /* Orange Theme */
  .theme-orange {
    --primary: 30 100% 50%;
    /* Orange */
    --primary-foreground: 30 100% 98%;

    --secondary: 30 40% 85%;
    --secondary-foreground: 30 100% 50%;

    --accent: 30 40% 85%;
    --accent-foreground: 30 100% 50%;

    --muted: 30 40% 90%;
    --muted-foreground: 30 30% 40%;

    --destructive: 0 84.2% 60.2%;
    /* Red */
    --destructive-foreground: 30 100% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  /* Removed empty ruleset for body */
}
